* {
  font-family: 'Varela Round', sans-serif;
}

/* the stuff in body and main as well as sticky footer make sticky footer */
body, main {
  display: flex;
  flex-direction: column;
  min-height:100vh;
}
.topspace {
  min-height: 10vh;
}

#myNav {
  background-color: 	#8b7235;
}



/* FOOTER STYLE */
#sticky-footer {
  flex-shrink: 0;
  position: fixed;
  width: 100vw;
  margin-top: 5vh;
  bottom: 0;
  background-color: #133945;
}
#sticky-footer a {
  color:#e2ecba !important;
}
/* END FOOTER STYLE */


#contactform {
    font-family: 'Varela Round', sans-serif;
}

#aboutme {
  min-height:50vh;
}

/* creating the parallax scrolling effect */

/* #parallax-background {
  background-image: url(assets/sunsetupnorth.jpg);
  min-height:888px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


#footPhoEm1 {
  font-family: 'Varela Round', sans-serif;
}

#footPhoEm2 {
  font-family: 'Varela Round', sans-serif;
}

#bootstrapOr {
  background-color: #312411;
}
#bootstrapOr .container{
  background-color: 	#959492;
}
#bootstrapOr a {
  color: 		#e3e7d5;
  font-size: 20px;
  font-family: ;
}
#bootstrapOr h3 {
  color: #784834;
  font-weight: bold;
  font-family: 'Galada', cursive;
  font-size: 70px;

}
#bootstrapOr h4 {
  color: #784834;
  text-shadow: #43550f;
  font-weight: bold;
  font-family: 'Galada', cursive;
  font-size: 25px;
  /* text-decoration: underline; */

}
#bootstrapOr .card-block {
  background-color:	#c0b356;
  border: 5px solid #654a1a;
  border-radius: 5px;
  margin: 1vw;

}

#bootstrapOr .nav-item {
  /* background-color:#95949200; */
  border-radius: 5px;
  color: #312411;
  line-height: 1.2;
}
#bootstrapOr .active {
  background-color:#784834;
  border-radius: 5px;
  margin-left: 15px;
  max-width: 60vw;

}


